.frame {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: -50px;
    border-radius: 2px;
    
    overflow: hidden;
    background: transparent;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    perspective: 500px;
  }
  
  .cube {
    width: 50px;
    height: 50px;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-25px) rotateX(70deg) rotateZ(-45deg);
    animation: rotateCube 5s infinite linear;
    cursor: pointer;
  }
  @keyframes rotateCube {
    0% {
        transform: translateZ(-25px) rotateX(70deg) rotateZ(-45deg);
    }
    100% {
        transform: translateZ(-25px) rotateX(430deg) rotateZ(315deg);
    }
  }

  .side {
    position: absolute;
    width: 50px;
    height: 50px;
}
  
.front {
    transform: rotateY(0deg) translateZ(25px);
    background: #fff;
}
  
.back {
    transform: rotateX(180deg) translateZ(25px);
    background: #ccc;
}
  
.right {
    transform: rotateY(90deg) translateZ(25px);
    background: #ddd;
}
  
.left {
    transform: rotateY(-90deg) translateZ(25px);
    background: #eee;
}
  
.top {
    transform: rotateX(90deg) translateZ(25px);
    background: #eee;
}
  
.bottom {
    transform: rotateX(-90deg) translateZ(25px);
    background: #ddd;
}